<div>
  <h2 id="page-heading" data-cy="FormSubmissionElementHeading">
    <span>Form Submission Elements</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-form-submission-element"
        [routerLink]="['/form-submission-element/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Form Submission Element </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="formSubmissionElements?.length === 0">
    <span>No formSubmissionElements found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="formSubmissionElements && formSubmissionElements.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>Id</span></th>
          <th scope="col"><span>Value</span></th>
          <th scope="col"><span>Element Id</span></th>
          <th scope="col"><span>Form Submission Id</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let formSubmissionElement of formSubmissionElements; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/form-submission-element', formSubmissionElement.id, 'view']">{{ formSubmissionElement.id }}</a>
          </td>
          <td>{{ formSubmissionElement.value }}</td>
          <td>
            <div *ngIf="formSubmissionElement.elementId">
              <a [routerLink]="['/form-element', formSubmissionElement.elementId?.id, 'view']">{{ formSubmissionElement.elementId?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="formSubmissionElement.formSubmissionId">
              <a [routerLink]="['/form-submission', formSubmissionElement.formSubmissionId?.id, 'view']">{{
                formSubmissionElement.formSubmissionId?.id
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/form-submission-element', formSubmissionElement.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/form-submission-element', formSubmissionElement.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(formSubmissionElement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
