<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="lookupField">
      <h2 data-cy="lookupFieldDetailsHeading"><span>Lookup Field</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Id</span></dt>
        <dd>
          <span>{{ lookupField.id }}</span>
        </dd>
        <dt><span>Form Id</span></dt>
        <dd>
          <div *ngIf="lookupField.formId">
            <a [routerLink]="['/form', lookupField.formId?.id, 'view']">{{ lookupField.formId?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/lookup-field', lookupField.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
