<div>
  <h2 id="page-heading" data-cy="FormElementHeading">
    <span>Form Elements</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-form-element"
        [routerLink]="['/form-element/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Form Element </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="formElements?.length === 0">
    <span>No formElements found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="formElements && formElements.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>Id</span></th>
          <th scope="col"><span>Name</span></th>
          <th scope="col"><span>Form Id</span></th>
          <th scope="col"><span>Element Type Id</span></th>
          <th scope="col"><span>Lookup Field Id</span></th>
          <th scope="col"><span>Element Type Id</span></th>
          <th scope="col"><span>Lookup Field Id</span></th>
          <th scope="col"><span>Form Id</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let formElement of formElements; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/form-element', formElement.id, 'view']">{{ formElement.id }}</a>
          </td>
          <td>{{ formElement.name }}</td>
          <td>{{ formElement.formId }}</td>
          <td>{{ formElement.elementTypeId }}</td>
          <td>{{ formElement.lookupFieldId }}</td>
          <td>
            <div *ngIf="formElement.elementTypeId">
              <a [routerLink]="['/element-type', formElement.elementTypeId?.id, 'view']">{{ formElement.elementTypeId?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="formElement.lookupFieldId">
              <a [routerLink]="['/lookup-field', formElement.lookupFieldId?.id, 'view']">{{ formElement.lookupFieldId?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="formElement.formId">
              <a [routerLink]="['/form', formElement.formId?.id, 'view']">{{ formElement.formId?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/form-element', formElement.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/form-element', formElement.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(formElement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
