<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-form-element-heading" data-cy="FormElementCreateUpdateHeading">Create or edit a Form Element</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">Id</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_elementTypeId">Element Type Id</label>
          <select
            class="form-control"
            id="field_elementTypeId"
            data-cy="elementTypeId"
            name="elementTypeId"
            formControlName="elementTypeId"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                elementTypeOption.id === editForm.get('elementTypeId')!.value?.id ? editForm.get('elementTypeId')!.value : elementTypeOption
              "
              *ngFor="let elementTypeOption of elementTypeIdsCollection; trackBy: trackElementTypeById"
            >
              {{ elementTypeOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_lookupFieldId">Lookup Field Id</label>
          <select
            class="form-control"
            id="field_lookupFieldId"
            data-cy="lookupFieldId"
            name="lookupFieldId"
            formControlName="lookupFieldId"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                lookupFieldOption.id === editForm.get('lookupFieldId')!.value?.id ? editForm.get('lookupFieldId')!.value : lookupFieldOption
              "
              *ngFor="let lookupFieldOption of lookupFieldIdsCollection; trackBy: trackLookupFieldById"
            >
              {{ lookupFieldOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_formId">Form Id</label>
          <select class="form-control" id="field_formId" data-cy="formId" name="formId" formControlName="formId">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="formOption.id === editForm.get('formId')!.value?.id ? editForm.get('formId')!.value : formOption"
              *ngFor="let formOption of formsSharedCollection; trackBy: trackFormById"
            >
              {{ formOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
